<h1>Likes</h1>

<p><a href="/new_like">Add a New Like</a></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @likes.each do |like| %>
    <tr>
          <td><%= like.user.name %></td>
          <td><%= like.post.caption %></td>
          <td><a href="/likes/<%= like.id %>">Show</a>
        </td>
      <td><a href="/likes/<%= like.id %>/edit">Edit</a></td>
      <td><a href="/likes/<%= like.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

