<h1>User #<%= @user.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user.email %></p>
</div>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>

<ul>
    <% @posts.each do |post| %>
    
    <div class="post">
            <p>
            <%= image_tag post.image_url.to_s %>
            </p>
            <p>
            <b><%= post.caption %></b>
            <%= post.content %>
            <%= post.created_at %>
            </p>
    </div>
    
    <% end %> 
</ul>

