<div class="details">
  <div>User: <%= @user.name %></div>
</div>

<h1><%= @post.caption %></h1>

<%= image_tag @post.image_url.to_s %>

<p><%= @post.content %></p>

<a href="/posts/<%= @post.id %>/edit">Edit</a>
<a href="/posts/<%= @post.id %>/destroy">Delete</a>
